@charset "UTF-8";
/******************************************************************
Site Name: Slavic Department
Author(s): Lucian Tucker

Stylesheet: Main Stylesheet
******************************************************************/
/* ==========================================================================
   Normalize v3.0.2 | MIT License
   ========================================================================== */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

p {
  -webkit-hyphens: manual;
  -epub-hyphens: manual;
  -moz-hyphens: manual;
  hyphens: manual;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*    F O N T S
/*--------------------------------------*/
@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regular-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regular-webfont.woff") format("woff"), url("../fonts/proximanova-regular-webfont.ttf") format("truetype"), url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regular-webfont.svg#Proxima") format("svg");
  }
}

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-light-webfont.eot");
  src: url("../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-light-webfont.woff") format("woff"), url("../fonts/proximanova-light-webfont.ttf") format("truetype"), url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  font-weight: lighter;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-light-webfont.svg#Proxima") format("svg");
  }
}

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-semibold-webfont.eot");
  src: url("../fonts/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-semibold-webfont.woff") format("woff"), url("../fonts/proximanova-semibold-webfont.ttf") format("truetype"), url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  font-weight: bold;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-semibold-webfont.svg#Proxima") format("svg");
  }
}

@font-face {
  font-family: Proxima;
  src: url("../fonts/proximanova-regit-webfont.eot");
  src: url("../fonts/proximanova-regit-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit-webfont.woff") format("woff"), url("../fonts/proximanova-regit-webfont.ttf") format("truetype"), url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  font-weight: normal;
  font-style: italic;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: Proxima;
    src: url("../fonts/proximanova-regit-webfont.svg#Proxima") format("svg");
  }
}

/* ==========================================================================
   Typography
   ========================================================================== */
body {
  color: rgba(0, 0, 0, 0.87);
  font: 14px/1.8em "Proxima", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  text-shadow: 0 0 1px transparent;
}

/*    Headers
/*--------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: #003357;
  font-weight: bold;
  clear: both;
  margin: 0;
}

h1 {
  font-size: 4em;
  line-height: 1.1em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2em;
  color: #347bad;
}

h3 {
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: lighter;
  color: #347bad;
}

h4 {
  font-size: 1.8em;
  line-height: 1.2em;
}

h5 {
  font-size: 1.5em;
  line-height: 1.3em;
}

h6 {
  font-size: 1em;
  line-height: 1.3em;
}

/* Custom Headers */
.page h2, .page h3, .page h4, .page h5, .page h6 {
  margin-top: .5em;
  margin-bottom: .5em;
}

.home h1, .home h2, .home h3, .home h4, .home h5, .home h6 {
  margin-top: 0;
}

.home h4 {
  margin-bottom: 0px;
}

h1.search-title {
  margin-bottom: 40px;
}

h1 span {
  display: block;
  font-size: .2em;
  line-height: 1em;
}

.home h2 {
  font-size: 2em;
  font-weight: bold;
  padding: 15px 15px 0 0;
}

.archive .main header h2 {
  font-size: 2em;
}

.tax-profile_cat .main header h2.filter-title {
  color: white;
  background-color: #469bce;
  padding: 10px 0;
}

h2.subtitle {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: lighter;
  font-style: italic;
}

.home .col h3, .col + .col h3 {
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
}

.home .col h3 {
  margin-bottom: 30px;
}

nav h3, .side h3 {
  font-size: 1.5em;
  margin: 0 0 20px 0;
}

.archive .main header h3 {
  font-size: 1.2em;
}

.filter h3 {
  margin-bottom: 15px;
}

.home h4 {
  font-size: 1em;
}

.col + .col h4 {
  font-size: 1em;
}

/*    Text Elements
/*--------------------------------------*/
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

hr {
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  height: 1px;
  border: none;
  margin: 30px 0;
}

p {
  margin: 1.3em 0;
}

h1 + p, h1 + ul, h1 + ol, h1 + dl, h2 + p, h2 + ul, h2 + ol, h2 + dl, h3 + p, h3 + ul, h3 + ol, h3 + dl, h4 + p, h4 + ul, h4 + ol, h4 + dl, h5 + p, h5 + ul, h5 + ol, h5 + dl, h6 + p, h6 + ul, h6 + ol, h6 + dl {
  margin-top: 5px;
}

ul, ol {
  padding: 0;
}

li {
  margin: 0 0 0 20px;
  list-style-type: disc;
}

ol li {
  list-style-type: decimal;
}

cite {
  font-style: italic;
}

blockquote {
  padding: 1px 40px 1px 22px;
  font-size: 1.5em;
  font-style: italic;
  color: #0277bd;
  border-left: 15px solid #469bce;
  margin: 30px 0;
}

blockquote p {
  margin: 1em 0;
}

figcaption {
  font-style: italic;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 25px 0;
  font-weight: normal;
}

/*    Links
/*--------------------------------------*/
a:link, .col a h4 {
  text-decoration: none;
  color: #469bce;
  font-weight: bold;
  -webkit-transition: color 0.24s ease-in-out;
  transition: color 0.24s ease-in-out;
}

a:hover, a:focus, a:active,
.col a h4:hover, .col a h4:focus, .col a h4:active {
  color: #0277bd;
  text-decoration: underline;
}

.col a:visited, .main a:visited {
  color: #469bce;
}

article a[href*="//"]:not([href*="dev.humanities.ucla.edu"]) {
  background-image: url("../images/new-window.png");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 12px;
  margin-right: 5px;
}

article a[href*="//"]:not([href*="http://dev.humanities.ucla.edu"]).btn {
  background-image: none;
}

/*    Accessibility
/*--------------------------------------*/
.skip {
  float: left;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* ==========================================================================
   Button Styles
   ========================================================================== */
.btn, button, input[type="submit"], .page .btn, .single .btn, a.btn, .tribe-bar-submit .tribe-events-button, .tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  background: #469bce;
  color: white !important;
  padding: 3px 0;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 110px;
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  background-clip: padding-box;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

.btn:hover, button:hover, input[type="submit"]:hover, .tribe-bar-submit .tribe-events-button:hover, .tribe-events-read-more:hover, .tribe-events-list-widget a.btn:hover, .btn:focus, button:focus, input[type="submit"]:focus, .tribe-bar-submit .tribe-events-button:focus, .tribe-events-read-more:focus, .tribe-events-list-widget a.btn:focus {
  background-color: #0277bd;
  color: white;
}

.btn:active, button:active, input[type="submit"]:active, .tribe-bar-submit .tribe-events-button:active, .tribe-events-read-more:active, .tribe-events-list-widget a.btn:active {
  top: 1px;
}

/* ==========================================================================
   Form Styles
   ========================================================================== */
fieldset {
  border: none;
  padding: 0;
}

label {
  font-weight: bold;
}

input + label {
  font-weight: normal;
}

form ul li ul li label {
  padding-left: 10px;
}

label span {
  color: #790000;
  margin-left: 5px;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
  padding: 0 10px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  height: 35px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.87);
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.03);
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

input[type="text"]:focus,
input[type="text"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="datetime"]:focus,
input[type="datetime"]:active,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:active,
input[type="date"]:focus,
input[type="date"]:active,
input[type="month"]:focus,
input[type="month"]:active,
input[type="time"]:focus,
input[type="time"]:active,
input[type="week"]:focus,
input[type="week"]:active,
input[type="number"]:focus,
input[type="number"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[type="url"]:focus,
input[type="url"]:active,
input[type="tel"]:focus,
input[type="tel"]:active,
input[type="color"]:focus,
input[type="color"]:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
.field:focus,
.field:active {
  background-color: white;
}

input[type="text"].error,
input[type="text"].is-invalid,
input[type="password"].error,
input[type="password"].is-invalid,
input[type="datetime"].error,
input[type="datetime"].is-invalid,
input[type="datetime-local"].error,
input[type="datetime-local"].is-invalid,
input[type="date"].error,
input[type="date"].is-invalid,
input[type="month"].error,
input[type="month"].is-invalid,
input[type="time"].error,
input[type="time"].is-invalid,
input[type="week"].error,
input[type="week"].is-invalid,
input[type="number"].error,
input[type="number"].is-invalid,
input[type="email"].error,
input[type="email"].is-invalid,
input[type="url"].error,
input[type="url"].is-invalid,
input[type="tel"].error,
input[type="tel"].is-invalid,
input[type="color"].error,
input[type="color"].is-invalid,
select.error,
select.is-invalid,
textarea.error,
textarea.is-invalid,
.field.error,
.field.is-invalid {
  color: red;
  border-color: red;
  background-color: white;
  outline-color: red;
}

input[type="text"].success,
input[type="text"].is-valid,
input[type="password"].success,
input[type="password"].is-valid,
input[type="datetime"].success,
input[type="datetime"].is-valid,
input[type="datetime-local"].success,
input[type="datetime-local"].is-valid,
input[type="date"].success,
input[type="date"].is-valid,
input[type="month"].success,
input[type="month"].is-valid,
input[type="time"].success,
input[type="time"].is-valid,
input[type="week"].success,
input[type="week"].is-valid,
input[type="number"].success,
input[type="number"].is-valid,
input[type="email"].success,
input[type="email"].is-valid,
input[type="url"].success,
input[type="url"].is-valid,
input[type="tel"].success,
input[type="tel"].is-valid,
input[type="color"].success,
input[type="color"].is-valid,
select.success,
select.is-valid,
textarea.success,
textarea.is-valid,
.field.success,
.field.is-valid {
  color: green;
  border-color: green;
  background-color: white;
  outline-color: green;
}

input[type="text"][disabled],
input[type="text"].is-disabled,
input[type="password"][disabled],
input[type="password"].is-disabled,
input[type="datetime"][disabled],
input[type="datetime"].is-disabled,
input[type="datetime-local"][disabled],
input[type="datetime-local"].is-disabled,
input[type="date"][disabled],
input[type="date"].is-disabled,
input[type="month"][disabled],
input[type="month"].is-disabled,
input[type="time"][disabled],
input[type="time"].is-disabled,
input[type="week"][disabled],
input[type="week"].is-disabled,
input[type="number"][disabled],
input[type="number"].is-disabled,
input[type="email"][disabled],
input[type="email"].is-disabled,
input[type="url"][disabled],
input[type="url"].is-disabled,
input[type="tel"][disabled],
input[type="tel"].is-disabled,
input[type="color"][disabled],
input[type="color"].is-disabled,
select[disabled],
select.is-disabled,
textarea[disabled],
textarea.is-disabled,
.field[disabled],
.field.is-disabled {
  cursor: not-allowed;
  border-color: gray;
  opacity: 0.6;
}

input[type="text"][disabled]:focus,
input[type="text"][disabled]:active,
input[type="text"].is-disabled:focus,
input[type="text"].is-disabled:active,
input[type="password"][disabled]:focus,
input[type="password"][disabled]:active,
input[type="password"].is-disabled:focus,
input[type="password"].is-disabled:active,
input[type="datetime"][disabled]:focus,
input[type="datetime"][disabled]:active,
input[type="datetime"].is-disabled:focus,
input[type="datetime"].is-disabled:active,
input[type="datetime-local"][disabled]:focus,
input[type="datetime-local"][disabled]:active,
input[type="datetime-local"].is-disabled:focus,
input[type="datetime-local"].is-disabled:active,
input[type="date"][disabled]:focus,
input[type="date"][disabled]:active,
input[type="date"].is-disabled:focus,
input[type="date"].is-disabled:active,
input[type="month"][disabled]:focus,
input[type="month"][disabled]:active,
input[type="month"].is-disabled:focus,
input[type="month"].is-disabled:active,
input[type="time"][disabled]:focus,
input[type="time"][disabled]:active,
input[type="time"].is-disabled:focus,
input[type="time"].is-disabled:active,
input[type="week"][disabled]:focus,
input[type="week"][disabled]:active,
input[type="week"].is-disabled:focus,
input[type="week"].is-disabled:active,
input[type="number"][disabled]:focus,
input[type="number"][disabled]:active,
input[type="number"].is-disabled:focus,
input[type="number"].is-disabled:active,
input[type="email"][disabled]:focus,
input[type="email"][disabled]:active,
input[type="email"].is-disabled:focus,
input[type="email"].is-disabled:active,
input[type="url"][disabled]:focus,
input[type="url"][disabled]:active,
input[type="url"].is-disabled:focus,
input[type="url"].is-disabled:active,
input[type="tel"][disabled]:focus,
input[type="tel"][disabled]:active,
input[type="tel"].is-disabled:focus,
input[type="tel"].is-disabled:active,
input[type="color"][disabled]:focus,
input[type="color"][disabled]:active,
input[type="color"].is-disabled:focus,
input[type="color"].is-disabled:active,
select[disabled]:focus,
select[disabled]:active,
select.is-disabled:focus,
select.is-disabled:active,
textarea[disabled]:focus,
textarea[disabled]:active,
textarea.is-disabled:focus,
textarea.is-disabled:active,
.field[disabled]:focus,
.field[disabled]:active,
.field.is-disabled:focus,
.field.is-disabled:active {
  background-color: blue;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

input[type="submit"] {
  padding: 7px 0;
  border: none;
}

input[type="search"] {
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  font-size: .85em;
  padding: 5px 40px 5px 10px;
  background: white url("../images/search-icon.png") no-repeat 160px center;
  font-weight: bold;
  margin-bottom: 10px;
}

textarea {
  width: 500px;
  max-width: 640px;
  min-height: 120px;
  line-height: 1.5em;
}

select {
  width: 302px;
}

select[multiple="multiple"] {
  height: 100px;
  padding: 10px;
}

form li {
  list-style: none;
  margin: 10px 0;
}

form ul li ul li {
  list-style: none;
  margin: 0;
}

.validation_error {
  font-weight: bold;
  padding: 10px;
  border: 2px solid #790000;
  border-radius: 5px;
  text-align: center;
}

.validation_message {
  font-style: italic;
}

/*    E V E N T S
/*--------------------------------------*/
#tribe-events {
  margin-top: 160px !important;
}

.tribe-bar-submit {
  float: right !important;
  width: 140px;
  margin: 1px 20px 0 0;
}

.tribe-events-read-more, .tribe-events-read-more:link, .tribe-events-list-widget a.btn {
  padding: 3px 0 !important;
}

.tribe-bar-submit .tribe-events-button {
  margin-top: 10px !important;
}

#tribe-events, #tribe-events-content.tribe-events-month {
  width: 100%;
  margin: 0 auto;
}

#tribe-events-content {
  width: 640px;
  margin: 0 auto;
}

.tribe-events-venue-details {
  font-weight: normal;
}

.tribe-events-list .vevent.hentry {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 2px;
}

.tribe-events-schedule {
  margin: 0 !important;
}

.tribe-events-schedule p {
  margin-top: 0;
}

#tribe-bar-views select, .tribe-bar-views-inner, #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
  background-color: #eee !important;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
  background-color: #e0e0e0 !important;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
  background-color: #e0e0e0 !important;
}

.tribe-events-list-widget h3 {
  margin-bottom: 20px !important;
}

.tribe-events-list-widget h4 {
  margin-bottom: 0px;
}

.tribe-events-list-widget .duration {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.5em;
  font-size: .85em;
}

.tribe-events-list-widget .duration span {
  display: inline;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.tribe-events-list-widget .tribe-events-widget-link {
  padding-left: 0;
}

.tribe-events-list-widget ol {
  padding-top: 6px;
}

.tribe-events-list-widget ol li {
  margin-bottom: 20px;
}

#tribe-bar-form {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0 0 0 20px;
}

#tribe-bar-form label {
  font-size: 1em;
  margin-top: 5px;
}

#tribe-bar-form input[type="text"] {
  font-weight: normal;
}

/*    S L I D E R
/*--------------------------------------*/
.bx-wrapper {
  height: 380px !important;
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  float: left;
  clear: both;
}

#bxslider {
  margin-top: 0;
}

#slider {
  width: 100%;
  float: left;
  clear: both;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.14);
  margin: 0 0 40px 0;
}

#slider li {
  height: 440px;
  margin: 0 0 0 0;
  list-style: none;
  float: left;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
}

#slider .slider-content {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal;
}

#slider .slider-content p {
  font-size: 12px;
  line-height: 18px;
  color: #eee;
  width: 460px;
}

#slider .content {
  margin: 0 auto;
}

#slider .slider-content {
  background: url("../images/arrow_bg.png") no-repeat;
  background-position: 0px center;
  width: 585px;
  padding: 0px 20px 0px 115px;
  max-height: 160px;
  position: absolute;
  bottom: 20px;
  left: 0px;
}

#slider .slider-content h2 {
  color: #fff;
  width: 460px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 50px;
  background: url(../images/arrow-left.png) no-repeat;
}

.bx-wrapper .bx-next {
  right: 50px;
  background: url(../images/arrow-right.png) no-repeat;
}

.bx-wrapper .bx-prev:hover {
  background: url(../images/arrow-left-light.png) no-repeat;
}

.bx-wrapper .bx-next:hover {
  background: url(../images/arrow-right-light.png) no-repeat;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 34px;
  height: 58px;
  z-index: 9999;
  text-indent: -9999px;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* PAGER */
.bx-pager {
  color: rgba(0, 0, 0, 0.53);
  padding-top: 0px;
  margin-top: -30px;
  position: relative;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-pager-link {
  overflow: hidden;
}

.bx-pager.bx-default-pager a {
  background: none;
  text-indent: 9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px white solid;
}

.bx-pager a:hover,
.bx-pager a.active {
  background: #469bce;
}

/* ==========================================================================
   Main Styles - Desktop
   ========================================================================== */
/*    M A I N  C O N T A I N E R S
/*--------------------------------------*/
.content, header {
  width: 940px;
  margin: 0 auto;
}

#hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 318px;
  float: left;
  clear: both;
  margin: 0 0 13px 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.14);
}

.col {
  width: 640px;
  float: left;
}

.col + .col {
  width: 280px;
  margin: 10px 0 30px 20px;
}

/*    H O M E  P A G E
/*--------------------------------------*/
.home #hero {
  height: 438px;
  margin: 0 0 40px 0;
}

.home #hero .content {
  width: 100%;
  height: 438px;
  -webkit-box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5);
  box-shadow: inset 0px -40px 80px 60px rgba(0,0,0,0.5);
}

.home #hero .hero-description {
  font-size: 1.5em;
  font-style: italic;
  color: white;
  text-align: right;
  width: 580px;
  padding: 350px 0 0 360px;
  margin: 0 auto;
}

.home .news-hero {
  width: 100%;
  float: left;
  clear: both;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  margin: 0 0 40px 0;
}

.home .news-hero #hero {
  height: 440px;
  margin: 0;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  position: relative;
}

.home .news-hero .content {
  margin: 0 auto;
  width: 940px !important;
}

.home .news-hero .description {
  background: url("../images/transparent-bg.png") repeat;
  width: 460px;
  padding: 0px 20px;
  max-height: 150px;
  position: absolute;
  bottom: 10px;
  border-left: 20px solid #469bce;
}

.home .news-hero .description p {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal;
}

.home .news-col .default-img, .tribe-events-list-widget .news-col .default-img {
  max-width: 110px;
}

.home li, .tribe-events-list-widget li {
  list-style: none;
  margin-left: 0;
  line-height: 1em;
  padding-bottom: 0px;
}

.home a[rel=tag], .tribe-events-list-widget a[rel=tag] {
  color: #7b7b7b;
  font-weight: normal;
}

.home a[rel=tag]:hover, .tribe-events-list-widget a[rel=tag]:hover {
  color: #469bce;
  font-weight: normal;
  text-decoration: underline;
}

.home .cat-title, .tribe-events-list-widget .cat-title {
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1em;
  color: #7b7b7b;
  font-weight: normal;
}

.home .cat-title a, .tribe-events-list-widget .cat-title a {
  color: #7b7b7b;
  font-weight: normal;
}

.home .cat-title a:hover, .tribe-events-list-widget .cat-title a:hover {
  color: #469bce;
  font-weight: normal;
  text-decoration: underline;
}

.home .cat-title + .cat-title, .tribe-events-list-widget .cat-title + .cat-title {
  padding-left: 5px;
  margin-left: 5px;
  border-left: 1px solid #ddd;
}

.home .col {
  width: 300px;
  float: left;
}

.home .col li {
  padding: 0px 15px 5px 0;
  margin: 0 0 15px 0;
  clear: both;
  list-style: none;
}

.home .col li .news-item {
  float: right;
  width: 68%;
}

.home .col li .news-item p {
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
}

.home .col img {
  margin-top: 0px;
}

.home .col p, .home .col span.description {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 1.5em;
  font-size: .85em;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  display: block;
}

.home .col.news-col .btn {
  margin-top: -5px;
}

.home .col + .col {
  margin: 0 0 0 20px;
  background-color: white;
  padding: 0;
}

.home .col + .col li {
  padding: 0;
  border: none;
}

.home .news-col {
  width: 380px;
}

.home .news-col .btn {
  margin-left: 125px;
}

.home .events-col {
  width: 220px;
}

.home .events-col ul {
  margin-top: 0;
}

.home .profile-col ul {
  margin-top: 0;
}

.home .profile-col .cat-title {
  font-size: 0.85em;
  text-transform: uppercase;
  display: block;
  line-height: 1.2em;
}

.home .profile-col .cat-title a {
  color: #7b7b7b;
  font-weight: normal;
}

.home .profile-col .cat-title a:hover {
  color: #469bce;
  font-weight: normal;
  text-decoration: underline;
}

.home .profile-col .profile-list {
  margin: 0px;
  padding: 0px;
}

.home .profile-col .profile-list .person-item {
  display: block;
  float: left;
  padding: 0px;
  width: 100%;
  margin: 0px;
  height: auto;
  text-align: left;
  line-height: 1.3em;
  background: none;
  box-shadow: none;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

.home .profile-col .profile-list .person-item p {
  margin: 10px 0px;
}

.home .profile-col .profile-list .person-item dl {
  margin: 0px 0px 15px;
  padding: 10px;
  background: #eee;
}

.home .profile-col .profile-list .person-item dl dd {
  margin: 0px;
}

/*    H E A D E R
/*--------------------------------------*/
.top_wrp {
  background: #347bad;
  clear: both;
}

header {
  padding: 15px 0 0 0;
}

header.top h1, header.top h2 {
  width: 248px;
  display: inline-block;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

header .dept-logo {
  width: 874px;
  height: 110px;
}

header nav {
  clear: both;
  float: right;
  padding: 30px 0 20px 0;
}

header nav ul {
  width: 100%;
}

header .search-form {
  overflow: hidden;
  width: inherit;
}

header .search {
  float: right;
  clear: right;
  margin-top: 30px;
}

header .give-back {
  width: 130px;
  text-align: center;
  float: right;
  margin-top: 20px;
}

header .give-back .btn.give {
  background-image: url("../images/heart-icon.png");
  background-position: 11px center;
  background-repeat: no-repeat;
  padding-left: 27px !important;
  margin: 0 auto;
  text-align: left;
  min-width: 90px;
}

header .give-back span {
  font-size: .85em;
  display: block;
}

header .university-logo {
  float: left;
  margin-top: 20px;
  width: 119px;
  height: 38px;
}

.breadcrumbs {
  width: 100%;
  float: left;
  clear: both;
  color: rgba(0, 0, 0, 0.53);
  font-size: .85em;
  padding: 8px 0;
  margin-bottom: 40px;
}

.breadcrumbs img {
  margin: 0;
  padding: 0;
}

.breadcrumbs ul {
  margin: 0;
  padding: 0;
  clear: both;
  float: left;
}

.breadcrumbs li {
  float: left;
  display: inline-block;
  padding: 0 0 0px 10px;
  margin: 0;
}

.breadcrumbs li + li {
  margin: 0 0 0 5px;
  background: url("../images/arrow.png") no-repeat left center;
}

.breadcrumbs a {
  font-weight: bold;
  color: #469bce;
  text-decoration: underline;
}

/*    N A V I G A T I O N
/*--------------------------------------*/
header nav ul, footer nav ul {
  padding: 0;
  margin: 0;
  float: left;
}

header nav ul li, footer nav ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}

header nav ul li {
  position: relative;
}

/* Drop Down */
header nav ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0 10px;
  width: 170px;
  top: 20px;
  border-top: 4px solid rgba(0, 0, 0, 0.12);
  margin-top: 5px;
  background-color: white;
  z-index: 10000;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

header nav ul li ul li, header nav ul li ul li a {
  display: block;
  margin: 0;
}

header nav ul li ul li a {
  line-height: 1em;
  padding: 6px 0;
}

header nav ul li:hover ul, header nav .sub-menu.open {
  display: block;
  opacity: 1;
  visibility: visible;
  background: #347bad;
}

header nav ul li.menu-item-has-children {
  background: url("../images/nav-arrow.png") no-repeat right center;
  padding-right: 10px;
}

header nav ul li ul li.menu-item-has-children {
  background: none;
}

header nav a, footer nav a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: 1px;
}

header nav a, header nav a:link {
  color: white;
  -webkit-transition: all 0.24s ease-in-out;
  transition: all 0.24s ease-in-out;
}

header nav a:hover, header nav a:focus, header nav a:active {
  color: #c2d7e6;
}

footer a, footer a:link, footer .copyright p a, footer a:visited,
footer nav a:hover, footer nav a:active {
  color: white;
}

/* Side Menu */
.col.side {
  width: 220px;
  margin-left: 40px;
  padding: 20px;
  /*
    li + li {
        border-top: 1px dotted #ddd;
    
    }
    */
  /*.widget_recent_entries li {
		margin-bottom: 10px;
	}*/
}

.col.side .content {
  width: 220px;
}

.col.side h3 {
  font-size: 1.25em;
  font-weight: bold;
  border: none;
  padding-bottom: 10px;
  color: #222;
  padding: 0px 0px 10px 0px;
}

.col.side li {
  list-style: none;
  margin-left: 0;
  line-height: 1em;
  padding-bottom: 10px;
}

.col.side ol, .col.side ul {
  margin-bottom: 25px;
}

.col.side nav.page-nav ul {
  padding: 0;
  margin: 0;
}

.col.side .widget:not(:first-of-type) {
  border-top: 3px #f4f4f4 solid;
  padding-top: 15px;
}

.col.side .btn {
  margin-bottom: 40px;
}
/*
.col.side .sub-menu, .col.side li:not(.profile_cat > .sub-menu) {
  display: none;
}
*/

.col.side .current_page_item .sub-menu,
.col.side .current_page_parent .sub-menu {
  display: block;
  margin: 0 0 0 20px;
}

.col.side
.sub-menu li {
  padding: 0px;
}

.col.side
.sub-menu li a {
  font-weight: normal;
}

.col.side
.sub-menu li:before {
  content: "•";
  color: #0277bd;
  font-size: 1.5em;
  padding-right: 5px;
}

.col-nav {
  width: 220px;
}

.col-nav li {
  list-style: none;
  margin-left: 0;
  line-height: 1.5em;
}

.col-nav ul + h3 {
  margin-top: 40px;
}

/*    F O O T E R
/*--------------------------------------*/
footer {
  background-color: #347bad;
  clear: both;
  margin-top: 60px;
  float: left;
  clear: both;
  width: 100%;
  padding: 35px 0 40px 0;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
}

footer nav ul.footer-nav {
  clear: left;
  float: left;
  margin-right: 50px;
}

footer nav ul.social-links {
  clear: right;
  float: right;
}

footer nav .icon {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

footer nav .icon img {
  width: auto;
  height: 21px;
}

footer nav .icon .email {
  height: 18px;
}

footer .copyright {
  padding-top: 50px;
  font-size: .85em;
}

footer .copyright .university-logo {
  float: left;
  width: 100px;
  height: 32px;
}

footer .copyright p {
  float: left;
  margin: 0 0 0 20px;
}

footer .copyright span {
  margin: 0 5px;
}

/*    P E R S O N  P A G E
/*--------------------------------------*/
.single-profile figure {
  margin: 0px;
}

.single-profile .bio figure.alignright {
  float: right;
  margin: 0 0px 15px 15px;
  padding: 5px;
  border: 10px solid #eee;
}

.single-profile .bio figure.alignright figcaption {
  font-style: italic;
  line-height: 1.3em;
  font-size: 0.95em;
  padding: 15px 10px 10px;
  border-top: 1px solid #eee;
}

single-profile .bio figure.alignleft {
  float: left;
  margin: 0 15px 15px 0px;
  padding: 5px;
  border: 10px solid #eee;
}

single-profile .bio figure.alignleft figcaption {
  font-style: italic;
  line-height: 1.3em;
  font-size: 0.95em;
  padding: 15px 10px 10px;
  border-top: 1px solid #eee;
}

.single-profile .details span {
  display: inline-block;
}

.single-profile .details span + span {
  margin-left: 20px;
}

.single-profile .details p {
  margin-top: 0px;
}

.single-profile .col + .col {
  margin-top: 0;
}

.single-profile .bio {
  margin-bottom: 20px;
}

.single-profile .photo {
  max-width: 640px;
  margin-bottom: 25px;
}

.single-profile blockquote {
  border-left: none;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
  position: relative;
}

.single-profile blockquote:before {
  color: #eee;
  content: open-quote;
  font-size: 20em;
  vertical-align: -0.4em;
  position: absolute;
  top: 110px;
  left: -50px;
}

.single-profile blockquote p {
  display: block;
  font-size: 1.3em;
  line-height: 1.1em;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  position: relative;
  font-weight: bold;
  z-index: 10;
  top: 0;
  left: 0;
  margin: 10px 5px;
}

/*
.single-profile blockquote p:first-child:before {
    content: "\201C";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    font-family: Gentona,"Myriad Pro",sans-serif;
    font-weight: 900;
    font-size: 6em;
    color: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";
    filter: alpha(opacity=10);
    -moz-opacity: .1;
    -khtml-opacity: .1;
    opacity: .1;
    -webkit-transform: translate(-22.5%,-33.33%);
    -moz-transform: translate(-22.5%,-33.33%);
    -o-transform: translate(-22.5%,-33.33%);
    -ms-transform: translate(-22.5%,-33.33%);
    transform: translate(-22.5%,-33.33%);
}
*/
.single-profile .cat-title {
  font-size: 0.85em;
  text-transform: uppercase;
  display: block;
  line-height: 1.2em;
}

.single-profile .cat-title a {
  color: #7b7b7b;
  font-weight: normal;
}

.single-profile .cat-title a:hover {
  color: #469bce;
  font-weight: normal;
  text-decoration: underline;
}

.single-profile .circle {
  border-radius: 140px;
}

.single-profile .rounded {
  border-radius: 70px;
}

.link {
  background: url("../images/link-icon.png") no-repeat left center;
  padding-left: 18px;
}

.download {
  background: url("../images/download-icon.png") no-repeat left center;
  padding-left: 18px;
}

/*    P E O P L E  A R C H I V E
/*--------------------------------------*/
/* Filters */
.filter {
  clear: both;
  float: left;
  margin: 20px 0;
  width: 100%;
}

.filter ul {
  padding: 0;
}

.filter li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.button-group {
  width: 100%;
  float: left;
}

.button-group button {
  margin-right: 5px;
  min-width: 124px;
  letter-spacing: 0px;
  letter-spacing: 0px;
}

.button-group button.all {
  min-width: 100px;
  margin-right: 10px;
}

/* Profile List */
.profile-list {
  margin-top: 40px;
  padding: 0 9px;
  clear: both;
}

.profile-list ul {
  margin: 30px 0;
  padding: 0;
}

.profile-list li {
  list-style: none;
}

.profile-list .person-item {
  display: block;
  float: left;
  margin: 15px 10px;
  width: 280px;
  height: 390px;
  text-align: center;
  line-height: 1.3em;
  background: #f2f2f2;
  box-shadow: 0px 0px 4px 1px #ccc;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

.profile-list .person-item a {
  display: block;
}

.profile-list .person-item:active,
.profile-list .person-item:hover,
.profile-list .person-item:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

.profile-list .person-item .cat-title, .profile-list .person-item a > .cat-title {
  font-size: 0.85em;
  text-transform: uppercase;
  display: block;
  line-height: 1.2em;
  margin-bottom: 2px;
}

.profile-list .person-item .cat-title a:link, .profile-list .person-item a > .cat-title a:link {
  color: #7b7b7b;
  font-weight: normal;
}

.profile-list .person-item .cat-title a:hover, .profile-list .person-item a > .cat-title a:hover {
  color: #469bce;
  font-weight: normal;
  text-decoration: underline;
}

.profile-list .person-item dl {
  margin: 25px 15px 15px;
}

.profile-list .person-item p {
  margin: 20px 0px;
  color: rgba(0, 0, 0, 0.87);
}

.profile-list .person-item .photo {
  width: 100%;
  max-height: 214px;
}

.profile-list .person-item .circle {
  border-radius: 55px;
}

.profile-list .person-item .rounded {
  border-radius: 25px;
}

.profile-list .person-item .name {
  text-transform: capitalize;
  color: #469bce;
  letter-spacing: 1px;
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: normal;
}

.profile-list .person-item .interest {
  font-size: .85em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1em;
}

.profile-list .person-item .position {
  color: rgba(0, 0, 0, 0.53);
  font-style: italic;
  margin-bottom: 10px;
}

.profile-list .person-item .email, .profile-list .person-item .office, .profile-list .person-item .office-hours, .profile-list .person-item .phone {
  font-size: .9em;
  margin: 0;
}

.profile-list .person-item .phone:before {
  content: 'Phone: ';
  font-weight: bold;
}

.profile-list .person-item .email a {
  font-size: 1em;
  display: inline-block;
}

.profile-list .person-item .btn {
  display: inline-block;
  width: auto;
}

/* Grad Student Page */
/* Staff */
.term-staff .profile-list li:hover {
  background: none;
}

.term-staff .profile-list .name {
  color: rgba(0, 0, 0, 0.87);
}

.term-staff .profile-list .position {
  margin-top: 10px;
}

.default-img {
  background: #347bad;
}

/*    A C A D E M I C S  A R C H I V E
/*--------------------------------------*/
/* Filters */
.filter {
  clear: both;
  float: left;
  margin: 20px 0;
  width: 100%;
}

.filter ul {
  padding: 0;
}

.filter li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}

.button-group {
  width: 100%;
  float: left;
}

.button-group button {
  margin-right: 5px;
  min-width: 124px;
  letter-spacing: 0px;
  letter-spacing: 0px;
}

.button-group button.all {
  min-width: 100px;
  margin-right: 10px;
}

/* Academics List */
.academics-list {
  margin-top: 40px;
  padding: 0 9px;
  clear: both;
}

.academics-list ul {
  margin: 30px 0;
  padding: 0;
}

.academics-list li {
  list-style: none;
}

.academics-list .academics-item {
  display: block;
  padding: 15px 10px;
  clear: both;
  overflow: hidden;
  margin: 0px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #eee;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

.academics-list .academics-item a {
  display: inline-block;
}

.academics-list .academics-item:active,
.academics-list .academics-item:hover,
.academics-list .academics-item:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

.academics-list .academics-item dl {
  margin: 15px 15px 10px 15px;
  clear: right;
  display: block;
  float: right;
  width: 580px;
}

.academics-list .academics-item p {
  margin: 20px 0px;
  line-height: 1.3em;
}

.academics-list .academics-item .photo {
  width: 300px;
  max-height: 214px;
  float: left;
}

.academics-list .academics-item .circle {
  border-radius: 55px;
}

.academics-list .academics-item .rounded {
  border-radius: 25px;
}

.academics-list .academics-item .name {
  text-transform: uppercase;
  color: #469bce;
  letter-spacing: 1px;
  font-size: 1.85em;
  font-weight: 500;
}

.academics-list .academics-item .interest {
  font-size: .85em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1em;
}

.academics-list .academics-item .position {
  color: rgba(0, 0, 0, 0.53);
  font-style: italic;
  margin-bottom: 10px;
}

.academics-list .academics-item .email, .academics-list .academics-item .office, .academics-list .academics-item .office-hours, .academics-list .academics-item .phone {
  font-size: .85em;
  margin: 0;
}

.academics-list .academics-item .email a {
  font-size: 1em;
  display: inline-block;
}

.academics-list .academics-item .btn {
  display: inline-block;
  width: auto;
  cursor: default !important;
}

.academics-list .academics-item .language .btn {
  display: inline-block;
  width: auto;
  height: auto;
  background: #f1f1f1;
  padding: 2px 10px;
  font-size: 12px;
  margin: 0px 3px 6px;
  min-width: 50px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.53) !important;
  font-weight: bold;
}

.academics-list .academics-item .language .btn a {
  color: rgba(0, 0, 0, 0.53);
  font-weight: bold;
}

/*    G I V I N G   P A G E
/*--------------------------------------*/
/* Filters */
.tax-giving .main header {
  text-align: center;
}

.give-hero {
  background: #1a9ce8;
  min-width: 940px;
  min-height: 300px;
  overflow: hidden;
  margin-bottom: -21px;
}

.give-hero #hero {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 318px;
  float: none;
  clear: both;
  margin: 0 0 13px 0;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
}

.give_info {
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.give_info h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 36px;
  margin-top: 60px;
}

.give_info .content {
  width: 640px;
  margin: 30px auto;
  overflow: hidden;
}

.dean_msg {
  min-height: 430px;
}

.dean_msg .details {
  padding: 6% 0px 2% 0px;
}

.dean_msg .photo {
  float: left;
}

.dean_msg .content {
  float: none;
  background: url("../images/arrow_givebg.png") no-repeat;
  background-position: 0px center;
  width: 650px;
  padding: 0px 20px 0px 115px;
  min-height: 430px;
  position: absolute;
  color: #eee;
  left: 0px;
}

.dean_msg .content h2 {
  color: #ffe400;
  font-size: 1.5em;
  width: 540px;
}

.dean_msg .content h3 {
  color: #fff;
  width: 540px;
}

.dean_msg .content p {
  width: 540px;
}

h1.giving-title {
  text-align: center;
  background: #003357;
  padding: 0.1em;
  color: #fff;
  margin: 0px;
}

h1.giving-title .arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #003357;
  position: relative;
  bottom: -20px;
  left: 50%;
  margin-left: -0.5em;
}

h2.giving-title {
  text-align: center;
  background: #b7b4b6;
  padding: 0.3em;
  color: #fff;
}

h2.giving-title .arrow-down {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #b7b4b6;
  position: relative;
  bottom: -25px;
  left: 50%;
  margin-left: -0.5em;
}

/* giving List */
.giving-list {
  margin-top: 40px;
  padding: 10% 9px;
  clear: both;
  overflow: hidden;
}

.giving-list ul {
  margin: 30px 0;
  padding: 0;
}

.giving-list li {
  list-style: none;
}

.giving-list .person-item {
  display: block;
  float: left;
  margin: 15px 10px;
  width: 280px;
  height: 290px;
  text-align: center;
  line-height: 1.3em;
  background: #f2f2f2;
  box-shadow: 0px 0px 4px 1px #ccc;
  -webkit-transition: background-color 0.24s ease-in-out;
  transition: background-color 0.24s ease-in-out;
}

.giving-list .person-item a {
  display: block;
}

.giving-list .person-item:active,
.giving-list .person-item:hover,
.giving-list .person-item:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

.giving-list .person-item dl {
  margin: 15px 15px 10px 15px;
}

.giving-list .person-item p {
  margin: 20px 0px;
}

.giving-list .person-item .photo {
  width: 100%;
  max-height: 214px;
}

.giving-list .person-item .circle {
  border-radius: 55px;
}

.giving-list .person-item .rounded {
  border-radius: 25px;
}

.giving-list .person-item .name {
  text-transform: normal;
  color: #469bce;
  letter-spacing: 0px;
  font-size: 17px;
  font-weight: normal;
}

.giving-list .person-item .interest {
  font-size: .85em;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1em;
}

.giving-list .person-item .position {
  color: rgba(0, 0, 0, 0.53);
  font-style: italic;
  margin-bottom: 10px;
}

.giving-list .person-item .email, .giving-list .person-item .office, .giving-list .person-item .office-hours, .giving-list .person-item .phone {
  font-size: .85em;
  margin: 0;
}

.giving-list .person-item .email a {
  font-size: 1em;
  display: inline-block;
}

.giving-list .person-item .btn {
  display: inline-block;
  width: auto;
}

/*    B O O K S
/*--------------------------------------*/
/* General Styles */
.cover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
  border: 3px solid white;
}

.custom-cover {
  background-color: #b4b4b4;
  margin: 0 auto 0 auto;
}

.custom-cover .title {
  color: white;
  font-weight: bold;
  text-align: center;
  display: block;
}

.publisher {
  display: block;
}

.book-list .title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}

.book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
}

.book-list dd.author a {
  display: block;
  font-size: .85em;
  line-height: 16px;
}

/* Profile Page */
.single-profile .book-list {
  float: left;
}

.single-profile .book-list img, .single-profile .book-list .custom-cover {
  float: left;
}

.single-profile .book-list .custom-cover {
  width: 50px;
  height: 60px;
  padding: 20px 5px 10px 5px;
}

.single-profile .book-list .custom-cover .title {
  font-size: .42em;
  line-height: 1em;
}

.single-profile .book-list li {
  float: left;
  margin: 0 0 20px 0;
  width: 100%;
  list-style: none;
  display: inline-block;
  width: 320px;
}

.single-profile .book-list dl {
  margin-left: 15px;
  float: left;
  clear: none;
  width: 225px;
}

.single-profile .book-list dt.title {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}

.single-profile .book-list dd {
  margin-bottom: 0px;
}

.single-profile .book-list dd.publisher {
  font-size: 12px;
  line-height: 12px;
  margin: 10px 0;
}

.single-profile .book-list dd.author a {
  display: block;
  font-size: .85em;
  line-height: 16px;
}

.single-profile .book-list dd.subtitle {
  font-style: italic;
  line-height: .85em;
}

/* Book Page */
.single-books .publisher {
  display: block;
  font-size: .85em;
  font-style: italic;
}

.single-books .author {
  margin-top: 20px;
  display: block;
}

.single-books .author p {
  display: inline;
}

.single-books .author-name + .author-name {
  background: url("../images/comma.jpg") no-repeat left 9px;
  padding-left: 10px;
  margin-left: -2px;
}

.single-books .custom-cover {
  width: 244px;
  height: 313px;
  line-height: 24px;
  padding: 60px 15px 10px 15px;
}

.single-books .custom-cover .title {
  font-size: 24px;
}

/* Book Archive */
.post-type-archive-books .book-list {
  margin-top: 40px;
  clear: both;
}

.post-type-archive-books .book-list ul {
  padding: 0;
}

.post-type-archive-books .book-list li {
  display: block;
  padding: 15px 10px;
  margin: 0 10px;
  width: 195px;
  height: 280px;
  text-align: center;
  float: left;
}

.post-type-archive-books .book-list .custom-cover {
  width: 91px;
  height: 127px;
  line-height: 9px;
  padding: 20px 5px 10px 5px;
  margin-bottom: 12px;
}

.post-type-archive-books .book-list .custom-cover .title {
  font-size: 9px;
}

.post-type-archive-books .book-list dt.title {
  font-size: 1em;
  line-height: 1em;
  margin: 5px 0;
}

.post-type-archive-books .book-list dd.publisher {
  font-size: .85em;
  line-height: .85em;
  margin-bottom: 5px;
}

.post-type-archive-books .book-list dd.author a {
  display: block;
  font-size: .85em;
  line-height: 1.14em;
}

/*    A R T I C L E S
/*--------------------------------------*/
.category article, .search-results article, .page-template-category-careers article, .tax-happenings_cat article, .archive article {
  padding-bottom: 20px;
  overflow: hidden;
}

.category article + article, .search-results article + article, .page-template-category-careers article + article, .tax-happenings_cat article + article, .archive article + article {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding-top: 20px;
}

.category figure.blog-thumb, .search-results figure.blog-thumb, .page-template-category-careers figure.blog-thumb, .tax-happenings_cat figure.blog-thumb, .archive figure.blog-thumb {
  float: left;
  margin: 0px 15px 0px 0px;
}

.category figure.blog-thumb img, .search-results figure.blog-thumb img, .page-template-category-careers figure.blog-thumb img, .tax-happenings_cat figure.blog-thumb img, .archive figure.blog-thumb img {
  width: 220px;
  height: 146px;
}

.category .details-wide, .search-results .details-wide, .page-template-category-careers .details-wide, .tax-happenings_cat .details-wide, .archive .details-wide {
  width: 100%;
  float: left;
}

.category .details-wide .publish-date, .search-results .details-wide .publish-date, .page-template-category-careers .details-wide .publish-date, .tax-happenings_cat .details-wide .publish-date, .archive .details-wide .publish-date {
  display: none;
}

.category .details-wide .cat-title, .search-results .details-wide .cat-title, .page-template-category-careers .details-wide .cat-title, .tax-happenings_cat .details-wide .cat-title, .archive .details-wide .cat-title {
  font-size: 0.85em;
  text-transform: uppercase;
  display: block;
  line-height: 1.2em;
}

.category .details-wide .cat-title a, .search-results .details-wide .cat-title a, .page-template-category-careers .details-wide .cat-title a, .tax-happenings_cat .details-wide .cat-title a, .archive .details-wide .cat-title a {
  color: #7b7b7b;
  font-weight: normal;
}

.category .details-wide .cat-title a:hover, .search-results .details-wide .cat-title a:hover, .page-template-category-careers .details-wide .cat-title a:hover, .tax-happenings_cat .details-wide .cat-title a:hover, .archive .details-wide .cat-title a:hover {
  color: #469bce;
  font-weight: normal;
  text-decoration: underline;
}

.category .details, .search-results .details, .page-template-category-careers .details, .tax-happenings_cat .details, .archive .details {
  width: 62%;
  float: left;
}

.category .details .publish-date, .search-results .details .publish-date, .page-template-category-careers .details .publish-date, .tax-happenings_cat .details .publish-date, .archive .details .publish-date {
  display: none;
}

.category .details .cat-title, .search-results .details .cat-title, .page-template-category-careers .details .cat-title, .tax-happenings_cat .details .cat-title, .archive .details .cat-title {
  font-size: 0.85em;
  text-transform: uppercase;
  display: block;
  line-height: 1.2em;
}

.category .details .cat-title a, .search-results .details .cat-title a, .page-template-category-careers .details .cat-title a, .tax-happenings_cat .details .cat-title a, .archive .details .cat-title a {
  color: #7b7b7b;
  font-weight: normal;
}

.category .details .cat-title a:hover, .search-results .details .cat-title a:hover, .page-template-category-careers .details .cat-title a:hover, .tax-happenings_cat .details .cat-title a:hover, .archive .details .cat-title a:hover {
  color: #469bce;
  font-weight: normal;
  text-decoration: underline;
}

.category .details h3, .search-results .details h3, .page-template-category-careers .details h3, .tax-happenings_cat .details h3, .archive .details h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 10px;
}

.category .details p, .search-results .details p, .page-template-category-careers .details p, .tax-happenings_cat .details p, .archive .details p {
  line-height: 1.45em;
  margin: 0px 0px 28px 0px;
  margin-bottom: 15px;
}

.publish-date {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
}

/*    T A B L E S
/*--------------------------------------*/
td, th {
  padding: 5px;
}

th {
  background-color: #c2d7e6;
}

tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.03);
}

tr:hover td {
  background-color: rgba(0, 0, 0, 0.06);
}

td {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.12);
}

/*    O T H E R
/*--------------------------------------*/
.alignleft {
  float: left;
  margin: 0 15px 15px 0;
}

.alignright {
  float: right;
  margin: 0 0 15px 15px;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination li {
  display: inline-block;
}

.pagination {
  text-align: center;
  margin-top: 40px;
}

.instructors {
  display: block;
  margin-bottom: -20px;
}

/* FAQ */
dl.faq dt.question {
  background: white url("../images/inactive-arrow.png") no-repeat left 10px;
  padding-left: 15px;
  cursor: pointer;
}

dl.faq dt.active {
  background: white url("../images/active-arrow.png") no-repeat left 10px;
}

dl.faq dd {
  margin-left: 15px;
}

dl.faq dd > p {
  margin-top: 10px;
}

/* Galleries */
.gallery .gallery-item {
  display: inline-block;
  vertical-align: top;
}

.gallery .gallery-item + .gallery-item {
  margin-left: 10px;
}

.gallery .gallery-caption {
  max-width: 150px;
  line-height: 16px;
  font-size: 12px;
  font-style: italic;
}

.gallery .gallery-icon {
  min-height: 160px;
}

#fancybox-close {
  right: -40px !important;
}

#fancybox-right {
  right: -25px !important;
}

#fancybox-right:hover span {
  left: auto;
  right: 10px;
}

#fancybox-left:hover span {
  left: 10px;
}

.color-block {
  width: 103px;
  height: 103px;
  float: left;
  text-align: center;
  line-height: 7em;
  margin: 0 1px;
}

.light-primary {
  background: #c2d7e6;
}

.primary {
  background: #347bad;
}

.dark-primary {
  background: #2a648d;
}

.light-secondary {
  background: #469bce;
}

.secondary {
  background: #0277bd;
}

.dark-secondary {
  background: #014771;
}

.light {
  color: white;
}

@media only screen and (min-width: 1440px) and (min-width: 1400px) {
  .home #hero, .home #hero .content, .home #slider, .home #slider li {
    height: 511px;
  }
  .home #hero .hero-description {
    padding-top: 417px;
  }
}

@media only screen and (min-width: 1440px) and (min-width: 1600px) {
  #hero {
    height: 363px;
  }
  .home #hero, .home #hero .content, .home #slider, .home #slider li {
    height: 584px;
  }
  .home #hero .hero-description {
    padding-top: 496px;
  }
}

@media only screen and (min-width: 1440px) and (min-width: 1800px) {
  #hero {
    height: 408px;
  }
}

@media only screen and (min-width: 1440px) and (min-width: 2000px) {
  #hero {
    height: 453px;
  }
}

@media print {
  /* ==========================================================================
   Print Stylesheet
   ========================================================================== */
  /* Good Defaults */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 1.5cm 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none;
  }
  /* Custom Styles */
  footer .copyright, footer .copyright p {
    margin: 0;
  }
  footer {
    margin-top: 0;
  }
  header a:after,
  a[href^="http://ucla.edu"]:after,
  .tribe-events-cal-links a:after {
    content: none;
  }
  #main-content {
    width: 100%;
  }
  .give-back,
  header form,
  footer img,
  #hero,
  #slider,
  .side,
  #tribe-events-bar {
    display: none;
  }
  dl.faq dd {
    display: block !important;
  }
}
