/* ==========================================================================
   Form Styles
   ========================================================================== */

fieldset {
	border: none;
	padding: 0;
}
label {
	font-weight: bold;
}
input + label {
	font-weight: normal;
}
form ul li ul li label {
	padding-left: 10px;
}
// Required asterisk 
label span {
	color: #790000;
	margin-left: 5px;
}
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
select,
textarea,
.field {
	padding: 0 10px;
	width: 280px;
	border: 1px solid $border-color;
	display: block;
	height: 35px;
	line-height: 35px;
	color: $text-color;
	vertical-align: middle;
	background-color: $background-light;
	@include transition(background-color 0.24s ease-in-out);

	// a focused input (or hovered on)
	&:focus,
	&:active {
		background-color: white;
	} // end hover or focus
	
	// error notification
	&.error,
	&.is-invalid {
		color: red;
		border-color: red;
		background-color: white;
		outline-color: red;
	} // end invalid input
	
	// success notification
	&.success,
	&.is-valid {
		color: green;
		border-color: green;
		background-color: white;
		outline-color: green;
	} // end valid input
	
	// a disabled input
	&[disabled],
	&.is-disabled {
		cursor: not-allowed;
		border-color: gray;
		opacity: 0.6;
		
		&:focus,
		&:active {
			background-color: blue;
		} // end disabled focus

	} // end disabled input

} // end input defaults

// spacing out the password
input[type="password"] {
	letter-spacing: 0.3em;
}
input[type="submit"] {
	padding: 7px 0;
	border: none;
}
input[type="search"] {
	width: 140px;
	border: 1px solid $border-color;
	border-radius: 15px;
	font-size: .85em;
	padding: 5px 40px  5px 10px;
	background: white url('../images/search-icon.png') no-repeat 160px center;
	font-weight: bold;
	margin-bottom: 10px;
}
textarea {
	width: 500px;
	max-width: 640px;
	min-height: 120px;
	line-height: 1.5em;
}
select {
	width: 302px;
}
select[multiple="multiple"] {
	height: 100px;
	padding: 10px;
}
form li {
	list-style: none;
	margin: 10px 0;
}
form ul li ul li {
	list-style: none;
	margin: 0;
}
.validation_error { 
	font-weight: bold; 
	padding: 10px; 
	border: 2px solid #790000; 
	border-radius: 5px; 
	text-align: center;
}
.validation_message { 
	font-style: italic;
}