/*    S L I D E R
/*--------------------------------------*/

.bx-wrapper {
	height: 380px!important;
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
	float: left;
	clear: both;
}
#bxslider {
	margin-top: 0;
}
#slider {
	width: 100%;
	float: left;
	clear: both;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,.14);
	margin: 0 0 40px 0;
	
	li {
		height: 440px;
		margin: 0 0 0 0;
		list-style: none;
		float: left;
		background-position: center top;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		position: relative;
	}
	.slider-content {
		color: $text-color!important;
		font-weight: normal;
	}
	.slider-content p {
		font-size: 12px;
		line-height: 18px;   
        color:#eee;
        width:460px;
	}
	.content {
		margin: 0 auto;	
	}
	.slider-content {
		background: url('../images/arrow_bg.png') no-repeat;
        background-position: 0px center;
		width: 585px;    
        padding: 0px 20px 0px 115px;
		max-height: 160px;
		position: absolute;
		bottom: 20px;
        left: 0px;
       // mix-blend-mode: multiply;
		//border-left: 20px solid $separator-color;
        
        h2 { color:#fff; width:460px;}
	}
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper {

	.bx-prev {
		left: 50px;
		background: url(../images/arrow-left.png) no-repeat;
	}
	.bx-next {
		right: 50px;
		background: url(../images/arrow-right.png) no-repeat;
	}
	.bx-prev:hover {
		background: url(../images/arrow-left-light.png) no-repeat;
	}
	.bx-next:hover {
		background: url(../images/arrow-right-light.png) no-repeat;
	}
	.bx-controls-direction a {
		position: absolute;
		top: 50%;
		margin-top: -16px;
		outline: 0;
		width: 34px;
		height: 58px;
		z-index: 9999;
		text-indent: -9999px;
	}
	.bx-controls-direction a.disabled {
		display: none;
	}
}

/* PAGER */
.bx-pager {
	color: $secondary-text-color;
	padding-top: 0px;
	margin-top: -30px;
	position: relative;
	width: $site-width;
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}
.bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.bx-pager-link {
	overflow: hidden;
}
.bx-pager.bx-default-pager a {
	background: none;
	text-indent: 9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px white solid;
}
.bx-pager a:hover,
.bx-pager a.active {
	background: $link-color;
}